.catalog {
  --fz: 14px;
  --lh: 17px;

  padding-bottom: 140px;

  // aside filters

  &__filters {
    max-width: 250px;
    width: 100%;
    margin-right: 50px;
  }

  &__filters-wrapper {
    margin-bottom: 31px;
  }

  &__filters-title {
    font-weight: 500;
    margin-bottom: 17px;
  }
  
  &__input-wrapper {
    display: inline-block;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__price-label {
    font-size: 0;
  }

  &__filters-price {
    width: 100px;
    font-size: var(--fz);
    line-height: var(--lh);
    border: 1px solid #E1E1E1;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
  }

  &__check {
    position: relative;
    bottom: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #e1e1e1;

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 4px;
      display: none;
      width: 12px;
      height: 8px;
      background-image: url(../../img/deco/checkmark.svg);
      background-repeat: no-repeat;
    }
  }

  &__check-input {
    appearance: none;
    visibility: hidden;
    position: absolute;

    &:checked + .catalog__check::after {
      display: block;
    }
  }

  &__label-text {
    margin-left: 5px;
    font-size: var(--fz);
    line-height: var(--lh);
    vertical-align: super;
  }

  &__filters-btn {
    margin-bottom: 10px;
    padding: 13px 36px 15px;
    width: 75.5%;
    font-size: var(--fz);
    line-height: var(--lh);
  }

  &__filters-reset {
    box-shadow: none;
    border: 2px solid $yellow;
  }

  // rooms

  &__main {
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
  }

	&__room {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc(100% / 3 - 20px);
    height: fit-content;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    overflow: hidden;

    &:nth-child(3n) {
      margin-right: 0;
    }

    .equip__item {
      display: inline-block;

      &:first-child {
        margin-left: 7px;
      }
    }
  }

  &__img-link {
    display: block;
  }

  &__room-info {
    padding: 0 16px 25px 20px;
  }
  
	&__room-img {
    width: 100%;
    height: 185px;
  }
  
	&__room-title {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 12px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
  }
  
	&__room-list {
    margin-bottom: 18px;
    list-style: none;
  }
  
	&__room-item {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 17px;
  }

  &__equip-list {
    margin-top: -3px;
  }

  &__room-price {
    padding-left: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  
	&__book {
    padding: 15px 60px 14px 30px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    .btn__deco {
      top: 5px;
    }
  }
  
  // sorting

  &__sorting {
    height: fit-content;
  }

  &__sorting-text {
    display: block;
  }

  &__sorting-list {
    // display: none;
    // position: absolute;
    // bottom: -50px;
    padding: 12px 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 4px;
  }
}
