.single {
  padding: 70px 0 70px;
  overflow: hidden;

  &__inner {
    position: relative;
  }

  &__slider-wrapper {
    max-height: 400px;
    height: 100%;
  }
  
  &__thumbs {
    max-width: 70px;
    width: 100%;
    margin-right: 30px;
    max-height: 400px;
    height: 100%;
  }

  &__img-wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      opacity: 0.5;
    }
  }

  &__thumbs-img {
    width: 70px;
    height: 112px;
    border-radius: 4px;
    object-fit: cover;
    object-position: left;
  }

  &__main-slider {
    width: 500px;
  }


  &__main-img {
    width: 500px;
    height: 400px;
    border-radius: 8px;
  }

  // текстовая часть

  &__content {
    padding-left: 70px;

    .equip__item {
      margin-bottom: 12px;
    }

    .equip__list {
      margin-top: 15px;
    }
  }

  &__title {
    margin-bottom: 25px;
  }

  &__descr {
    list-style: none;
    margin-bottom: 25px;
  }

  &__info {
    margin-bottom: 18px;
  }

  &__price {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

.swiper-slide {
  height: auto;
}