.catalog {
  --fz: 14px;
  --lh: 17px;

  padding-top: 70px;
  padding-bottom: 140px;

  @include phone-down {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  &__title {
    justify-content: space-between;

    @include phone-down {
      flex-direction: column;
      margin-bottom: 30px;

      .title {
        text-align: left;
      }
    }
  }

 // кнопки сортировки

  &__top-btn {
    display: inline-block;
    font-size: var(--fz);
    line-height: var(--lh);
    color: #141312;
    background-color: #fff;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 25px;
    outline: 0;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 6px 2px $lighter-grey;
    }

    &:focus {
      box-shadow: 0 0 6px 2px darken($orange, 20%);
    }

    &:active {
      box-shadow: inset 0 0 6px 2px $lighter-grey;
    }
  }
  
  &__filter {
    display: none;
    margin-right: 25px;
    padding: 11px 20px;
    font-weight: 600;
  
    @include tablet-down {
      display: inline-block;
    }
  
    @include phone-down {
      margin-right: 10px;
    }
  }
  
  &__filter-svg {
    position: relative;
    top: 2px;
    margin-right: 5px;
    width: 12px;
    height: 15px;
  }


  &__sorting {
    position: relative;
    flex-direction: column;
    width: 174px;

    @include phone-down {
      width: 154px;
    }

    &:hover {
      border-radius: 4px;
    }
  }

  &__sorting-wrapper {
    position: absolute;
    bottom: -173px;
    padding: 12px 20px;
    width: 100%;
    max-height: 0;
    background-color: #ffffff;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.4s;
    opacity: 0;
    order: 1;

    &.active {
    max-height: max-content;
    opacity: 1;

      + .catalog__selected {
        background-color: inherit;
        border-radius: 4px;
        box-shadow: 0px -8px 10px rgba(173,152,143,0.18);


        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__sorting-item {
    padding: 10px 0;
  }

  &__sorting-input {
    appearance: none;
    visibility: hidden;
  }

  &__sorting-label {
    position: relative;
    padding-left: 12px;
  }

  &__sorting-svg {
    position: relative;
    top: 1px;
    margin-right: 3px;
    width: 7px;
    height: 12px;
    stroke: #141312;
  }

  &__selected {
    position: relative;
    padding: 12px 20px;
    transition: all 0.3s;

    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 18px;
      width: 14px;
      height: 8px;
      background-image: url(../../img/deco/down-arrow.svg);
      background-repeat: no-repeat;
      transition: transform 0.3s;
    }
  }

  // end сортировка

  // aside filters

  &__filters {
    max-width: 250px;
    width: 100%;
    margin-right: 50px;

    @include tablet-down {
      display: none;
      max-width: 100%;
      margin-right: 0;
    }
  }

  &__filters-wrapper {
    margin-bottom: 31px;
  }

  &__filters-title {
    font-weight: 500;
    margin-bottom: 17px;
  }
  
  &__input-wrapper {
    display: inline-block;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__price-label {
    font-size: 0;
  }

  &__filters-price {
    width: 100px;
    font-size: var(--fz);
    line-height: var(--lh);
    border: 1px solid #E1E1E1;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__check {
    position: relative;
    bottom: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #e1e1e1;

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 4px;
      display: none;
      width: 12px;
      height: 8px;
      background-image: url(../../img/deco/checkmark.svg);
      background-repeat: no-repeat;
    }
  }

  &__check-input {
    appearance: none;
    visibility: hidden;
    position: absolute;

    &:checked + .catalog__check::after {
      display: block;
    }
  }

  &__label-text {
    margin-left: 5px;
    font-size: var(--fz);
    line-height: var(--lh);
    vertical-align: super;
  }

  &__filters-btn {
    margin-bottom: 10px;
    padding: 10px 15px 11px;
    width: 74%;
    font-size: var(--fz);
    line-height: var(--lh);

    @include tablet-down {
      width: 100%;
    }
  }

  &__filters-reset {
    box-shadow: none;
    border: 2px solid $yellow;
  }

  // rooms

  &__main {
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
  }

	&__room {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc(100% / 3 - 20px);
    height: fit-content;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    overflow: hidden;

    @include desctop-down {
      width: calc(100% / 2 - 15px);

      &:nth-child(even) {
        margin-right: 0;
      }
    }

    @include phone-down {
      width: 100%;
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;

      @include desctop-down {
        margin-right: auto;
      }

      @include phone-down {
        margin-right: 0;
      }
    }

    .equip__item {
      display: inline-block;

      &:first-child {
        margin-left: 7px;
      }
    }
  }

  &__img-link {
    display: block;
  }

  &__room-info {
    padding: 0 16px 25px 20px;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-radius: 0 0 6px 6px;
    margin-top: -5px;
  }
  
	&__room-img {
    width: 100%;
    height: 185px;
    object-fit: cover;
  }
  
	&__room-title {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 12px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    transition: color 0.3s;

    &:hover {
      color: $orange;
    }

    &:focus {
      outline: 2px solid $orange;
    }
  }
  
	&__room-list {
    margin-bottom: 18px;
    list-style: none;
  }
  
	&__room-item {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 17px;
  }

  &__equip-list {
    margin-top: -3px;
  }

  &__room-price {
    padding-left: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  
	&__book {
    padding: 15px 60px 14px 30px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    .btn__deco {
      top: 5px;
    }
  }
}
